:root {
  font-family: "Space Grotesk", sans-serif;
  line-height: 1.5rem;
  font-weight: 500;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

@media screen and (min-width: 767px) {
  .container {
    justify-content: center;
  }
}
